@import 'normalize.css';

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
     }
}

body {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  display: inline-block;
  margin: 0;
}

.mock {
  display: none;
}

#mine {
  margin: 0 auto;    
}

#mine ul {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: right;
}

#mine li:first-child {
  float: left;
  background-color: #fff; 
}

#mine li {
  float: right;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  background-color: #009688;
  @media (min-width: 1200px) {
    width: 10%;
  }
  @media (min-width: 450px) and (max-width: 1199px) {
  }
}

#mine a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.1;
  color: #e0f2f1;
  padding: .5em 0;
  margin: 0;
  &:hover {
  }
}

#recreation {
  width: 100%;
  margin: 0 auto;
}

#recreation > ul {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #283C92;
  border: .3em #634ECD;
  border-style: solid none;
  text-align: center;
}

#recreation li {
  width: 45%;
  margin: .5em auto;
  display: inline-block;
  list-style: none;
  @media (min-width: 1200px) {
    width: 11.5%;
  }
  @media (min-width: 450px) and (max-width: 1199px) {
    width: 30%;
  }
}

#recreation a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: white;
  line-height: 1.1;
  background-color: #21AEC2;
  padding: .5em 0;
  margin: 0;
  &:hover {
    color: #2E117F;
    background-color: #9A73DD;
  }
}
